<div style="width: 80%;
margin: auto;
margin-top: 5%;
margin-left: 20%;
">
    <div  style="width: 50%;float: left;">
        <button type="button" class="btn btn-success" style="width:50%;height: 100px;" (click)="getVenderOptions()">Vender</button>
       </div> 
      
       <div style="width: 50%;float: right;">
        <button type="button" class="btn btn-success" style="width:50%;height: 100px;" (click)="getProductOptions()">Product</button>
    </div>
    
      
</div>
<div  style="width: 50%;float:unset;">
    <button type="button" class="btn btn-succes" style="width:50%;height: 100px;" ><a routerLink="/login" >login</a></button>
   </div> 

